<!DOCTYPE html>
<html>
<head>
<title>Title of the document</title>
</head>

<body>
    <form method="post" id="inputfl" enctype="multipart/form-data"> {% csrf_token %}
      <input type="file" name="upload">
      <br>
      <button type="submit" id="btnt" hidden="hidden">Submit</button>
    </form>
      <p id="p">archivo no cargado</p>
      <p id="p2"></p>
      <button type="button" id="btnf">Submit</button>

<script type="text/javascript">
var bool = false;
const inputfl = document.getElementById("inputfl");
const btnf = document.getElementById("btnf");
const btnt = document.getElementById("btnt");
btnf.onclick = function(){if (bool === true) {btnt.click()};
inputfl.addEventListener("change", myFunction);

function myFunction() {
  if (inputfl.files.length == 0) {
    document.getElementById("p").innerHTML = "archivo no cargado";
      bool = false
    }
  else {
    document.getElementById("p").innerHTML = "archivo cargado";
    bool = true;
      }
    };

</script>
</body>
</html>
